.App .heading{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  background-color: #f0f0f0;
}

.heading span{
  background: -webkit-linear-gradient(50deg, rgb(0, 38, 255), #56fa50);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar-container{
  padding-top: 10vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}